body {
    font-family: var(--font-family);
    background-color: var(--gb-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.main-header {
    height: var(--header-height);
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--card-shadow);
    padding: 6rem;
}

.logo-center img {
    height: 12rem;
    width: auto;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--header-height) - 8rem);
    padding: 2rem;
}

.form-container {
    background-color: var(--white-color);
    padding: 2rem 3rem;
    border-radius: 1.2rem;
    box-shadow: var(--card-shadow);
    max-width: 45rem;
    width: 100%;
}

.form-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
}

.form-group {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    
}

.form-group label {
    margin-bottom: .4rem;
    font-weight: 500;
}

.form-group input {
    padding: .7rem;
    border: 1px solid var(--border-color);
    border-radius: .6rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: var(--primary-color);
}

.register-button {
    width: 25%;
    background-color: var(--botton-background-color);
    color: var(--white-color);
    border: none;
    padding: 1.2rem;
    border-radius: 6px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.register-button:hover {
    background-color: var(--primary-color);
}

.form-group-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* registro.css (Responsividad Mejorada) */

/* ... (código existente) ... */

@media (max-width: 768px) {
    .main-header {
        padding: 2rem;
    }

    .logo-center img {
        height: 8rem; /* Logo más pequeño */
    }
    
    .main-content {
        padding: 1rem;
    }

    .form-container {
        padding: 1.5rem 1rem; /* Reducir el padding interno */
        max-width: 100%; /* Usar el ancho completo en móvil */
    }

    .form-title {
        font-size: 1.5rem;
    }

    .form-group label {
        font-size: 1rem;
    }
    
    .form-group input {
        padding: 0.6rem;
        font-size: 0.9rem;
    }

    .register-button {
        width: 50%; /* Botón más grande */
        padding: 1rem;
        font-size: 1rem;
    }
}